aniso8601==3.0.2
bandit==1.5.1
bcrypt==3.1.4
bleach==3.0.2
blinker==1.4
cffi==1.11.5
click==6.7
DateTime==4.2
Django==2.1.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gitdb2==2.0.5
GitPython==2.1.11
image==1.5.25
itsdangerous==0.24
Jinja2==2.10
jsonify==0.5
MarkupSafe==1.0
mysql-connector==2.1.6
pbr==5.1.1
Pillow==5.2.0
pycparser==2.18
pymongo==3.7.1
pytz==2018.5
PyYAML==3.13
six==1.11.0
smmap2==2.0.5
SQLAlchemy==1.2.11
stevedore==1.30.0
uuid==1.30
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.2.1
zope.interface==4.5.0