{% extends "layout.html" %}
{% block content %}
	<h2>About Page</h2>
	<div class="article-content" style="font-size: 110%"><!--article-content or content-section-->
	    This project in under development stage.
        {% if current_user.is_authenticated %}
	        Please go back to another page...
	    {% else %}
	    	Please login using the credentials provided by clicking on <a href="{{url_for('users.login')}}">this</a><br/>or Register yourself using the <a href="{{url_for('users.register')}}">link</a>
	    {% endif %}
	</div>
{% endblock content %}